<% unless flash[:error].nil? -%>
  <div class="flash error">
    <p><%= flash[:error] %></p>
    <ul>
    <% @user.errors.full_messages.each do |message| -%>
      <li><%= message %></li>
    <% end -%>
    </ul>
  </div>
<% end -%>

<%= form_for :user, url: { action: 'create' } do |f| %>
  <ul>
    <li>
      <h2>Sign Up</h2>
      <span class="required-notification">* denotes required field</span>
    </li>
    <li>
      <%= f.label :email %>
      <%= f.text_field :email, type: 'email', placeholder: 'user@domain.com', required: true %>
      <span class="form-hint">Proper format user@domain.com</span>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
      <span class="form-hint">Password should be 6 or more characters</span>
    </li>
    <li>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true %>
    </li>
    <li>
      <button class="submit" type="submit">Create Account</button>
    </li>
  </ul>
<% end %>
