<!DOCTYPE html>
<html>
<head>
  <title>Pseudocms</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="container">
      <a href="/"><h1>PseudoCMS</h1></a>
      <nav>
        <li><a class="button" href="<%= new_user_path %>">Sign Up</a></li>
      </nav>
    </div>
  </header>

  <section role="main">
    <div class="container">
      <%= yield %>
    </div>
  </section>

  <footer>
    <div class="container">
      Copyright &copy; pseudomuto <%= Time.now.year %>
    </div>
  </footer>
</body>
</html>
